<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/default.css">
    <title>{{ title }}</title>
</head>
<body>
    {{>menu}}
    <table border="1">
        <th colspan="2">{{ title }}</th>
        <tr>
            <td><b>{{labelNome}}</b></td>
            <td><b>{{labelMorada}}</b></td>
        </tr>
        {{#alunos}}
        <tr>
            <td>{{nome}}</td>
            <td>{{morada}}</td>
        </tr>
        {{/alunos}}
    </table>
</body>
</html>